html
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.page
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}